{% extends "base/base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block start %}

<style>
  .para-text {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    padding-bottom: 30px;
    text-align: justify;
  }
</style>

<section class="section-content padding-bottom">
  <div class="mx-auto" style="max-width: 85rem; margin-top: 30px">
    <div class="container my-5">
      <h2 class="text-center mb-4">Privacy Policy</h2>

      <div class="card p-4">
        <h4 class="text-left mb-2">1. Introduction</h4>
        <p class="para-text">
          We value your privacy and are committed to protecting your personal
          information. This privacy policy outlines the types of information we
          collect and how we use, disclose, and protect that information..
        </p>

        <h4 class="text-left mb-2">2. Information We Collect</h4>
        <p class="para-text">
          We collect various types of information, including information that
          identifies or may identify you as anindividual ("Personal
          Information"). This includes your name, email address, billing and
          shipping addresses, and payment information.
        </p>

        <h4 class="text-left mb-2">3. Third-Party Integration</h4>
        <p class="para-text">
          When registering through Google or Facebook, we may collect and store
          additional information provided by these platforms to enhance your
          user experience or enable specific features. We handle this
          information in accordance with their respective privacy policies and
          take appropriate measures to protect your personal information.
        </p>

        <h4 class="text-left mb-2">4. Sharing Your Information</h4>
        <p class="para-text">
          We do not share your personal information with third parties except as
          described in this policy. We may disclose your information to our
          service providers who help us operate our services, but only to the
          extent necessary to perform their functions.
        </p>

        <h4 class="text-left mb-2">Contact Us</h4>
        <p class="para-text">
          If you have any questions, concerns, or requests regarding this
          Privacy Policy or the handling of your personal information, please
          contact us through the contact information provided on our website.
        </p>

        <!-- Add more sections as needed -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
