{% extends "base/base.html"%}
{% block title %}Search Product{% endblock %}
{% block start %}

<style>
  h3{
    margin-bottom: 20px;
  }
</style>

<section class="section-content padding-y">
  <div class="container">
    {% if query %}
    <h3>Showing results for '{{ query }}':</h3>
    {% else %}
    <h3>No search query entered.</h3>
    {% endif %}

    <div class="row">
      {% if products %} {% for product in products %}
      <div class="col-md-3">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <img src="/media/{{product.product_images.first.image}}" />
          </div>
          <figcaption class="info-wrap border-top">
            <a href="{% url 'get_product' product.slug %}" class="title">
              <b>{{ product.product_name }}</b></a>
            <div class="price mt-2">₹{{ product.price }}.00</div>
          </figcaption>
        </figure>
      </div>

      {% endfor %} {% elif query %}
      <div class="col-md-12">
        <p>No products found.</p>
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endblock %}
