{% extends "base/base.html" %}
{% block title %}Change Password Page{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block start %}

<style>
  .img-account-profile {
    height: 10rem;
  }

  .rounded-circle {
    border-radius: 50% !important;
  }

  .card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }

  .card .card-header {
    font-weight: 500;
  }

  .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
  }

  .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }

  .nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
  }

  .nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .btn-danger-soft {
    color: #000;
    background-color: #f1e0e3;
    border-color: #f1e0e3;
  }
</style>

<section class="section-content padding-bottom">
  <div class="container-xl px-4 mt-4">
    {% include "base/alert.html" %}
    <nav class="nav nav-borders">
      <a class="nav-link ms-0" href="{% url 'profile' username=user.username %}">Profile</a>
      <a class="nav-link ms-0" href="{% url 'shipping-address' %}">Address</a>
      <a class="nav-link active ms-0" href="{% url 'change_password' %}">Security</a>
    </nav>

    <hr class="mt-0 mb-4" />
    <div class="row">
      <!--Change Password Detail Section -->
      <div class="col-xl-8">
        <div class="card mb-4">
          <div class="card-header">Change Password</div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %} 
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">
                Change Password
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete account card-->
      <div class="col-xl-4">
        <div class="card mb-4">
          <div class="card-header">Delete Account</div>
          <div class="card-body">
            <p>
              Deleting your account is a permanent action and cannot be undone.
              If you are sure you want to delete your account, select the button
              below.
            </p>
            <button
              class="btn btn-danger-soft text-danger mt-2"
              type="button"
              data-toggle="modal"
              data-target="#deleteAccountModal"
            >
              I understand, delete my account
            </button>
          </div>
        </div>
      </div>

      <!-- Delete Account Confirmation Modal -->
      <div
        class="modal fade"
        id="deleteAccountModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deleteAccountModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteAccountModalLabel">
                Confirm Account Deletion
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your account? This action cannot
              be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
              <form method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete My Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
