{% extends "base/base.html" %}
{% block title %}Shipping Address{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block start %}

<style>
  .img-account-profile {
    height: 10rem;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  
  .card .card-header {
    font-weight: 500;
  }
  
  .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  
  .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  
  .nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
  }
  
  .nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>

<section class="section-content padding-bottom">
  <div class="container-xl px-4 mt-4">

    {% include "base/alert.html" %}
    <nav class="nav nav-borders">
      <a class="nav-link ms-0" href="{% url 'profile' username=user.username %}">Profile</a>
      <a class="nav-link active ms-0" href="{% url 'shipping-address' %}">Address</a>
      <a class="nav-link ms-0" href="{% url 'change_password' %}">Security</a>
    </nav>

    <hr class="mt-0 mb-4" />
    <!--Change Password Detail Section -->
    <div class="row">
      <div class="col-xl-20">
        <div class="card mb-4">
          <div class="card-header">Shipping Address</div>
          <div class="card-body">

            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">{{ form.first_name|as_crispy_field }}</div>
                <div class="form-group col-md-6">{{ form.last_name|as_crispy_field }}</div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-md-8">{{ form.street|as_crispy_field }}</div>
                <div class="form-group col-md-4">
                  {{ form.street_number|as_crispy_field }}
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-md-8">{{ form.city|as_crispy_field }}</div>
                <div class="form-group col-md-4">{{ form.zip_code|as_crispy_field }}</div>
              </div>
              
              {{ form.country|as_crispy_field }} {{ form.phone|as_crispy_field }}

              <div class="form-group d-flex justify-content-end">
                <div class="d-sm-flex">
                  <a class="mb-2 mb-sm-0 mr-0 mr-sm-3 btn btn-warning" href="{% url 'index' %}">Back to Home Page</a>
                  <button class="btn btn-primary" type="submit">Update Shipping Address</button>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
