{% extends "base/base.html"%} {% block start %}

<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT Product Details ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div class="text-center mt-5" style="transform: scale(1);">
                  <p>
                    <img src="/media/{{product.product_images.first.image}}"/>
                  </p>
              </div>
            </div>
            <!-- slider-product.// -->
            <div class="thumbs-wrap">
              {% for image in product.product_images.all %}
              <p class="item-thumb">
                <img src="/media/{{image.image}}"/>
              </p>

              {% endfor %}
            </div>
            <!-- slider-nav.// -->
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
          <article class="content-body">
            <h2 class="title">{{product.product_name}}</h2>
            <h6 class="text-muted">{{product.category}}</h6>

            <div class="rating-wrap my-3">
              <ul class="rating-stars">
                <li style="width: 80%" class="stars-active">
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </li>
              </ul>
              <small class="label-rating text-muted">132 reviews</small>
              <small class="label-rating text-success">
                <i class="fa fa-clipboard-check"></i> 154 orders
              </small>
            </div>
            <!-- rating-wrap.// -->

            <div class="mb-3">
              {% if updated_price %}
              <var class="price h4">₹{{ updated_price }}.00</var>
              {% else%}
              <var class="price h4">₹{{ product.price }}.00</var>
              {% endif %}
            </div>
            <!-- price-detail-wrap .// -->

            <p>{{product.product_desription}}</p>
            <br />
            <dl class="row">
              <dt class="col-sm-3">Brand</dt>
              <dd class="col-sm-9">Nike</dd>
              
              <dt class="col-sm-3">Color</dt>
              <dd class="col-sm-9">
                {% for color in product.color_variant.all %}
                  {{ color.color_name }}
                  {% if not forloop.last %}, {% endif %}
                {% endfor %}
              </dd>

              <dt class="col-sm-3">Delivery</dt>
              <dd class="col-sm-9">All over the World!</dd>
            </dl>

            <hr />
            <div class="form-row">
              <div class="form-group col-md flex-grow-0">
                <label>Quantity</label>
                <div class="input-group mb-3 input-spinner">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-light"
                      type="button"
                      id="button-plus"
                    >
                      +
                    </button>
                  </div>
                  <input type="text" class="form-control" value="1" />
                  <div class="input-group-append">
                    <button
                      class="btn btn-light"
                      type="button"
                      id="button-minus"
                    >
                      -
                    </button>
                  </div>
                </div>
              </div>

              {% if sorted_size_variants %}
              <div class="form-group col-md">
                <label>Select size</label>
                <div class="mt-1">
                  {% for size in sorted_size_variants %}
                  
                  <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="selected_size"

                    onchange="get_correct_price('{{size.size_name}}')" 
                    {% if selected_size == size.size_name %} checked {% endif %}
                    class="custom-control-input" />

                    <div class="custom-control-label">{{ size.size_name }}</div>
                  </label>

                  {% endfor %}
                </div>
              </div>
              {% endif %}

            </div>

            <a href="#" class="btn btn-primary"> Buy now </a>
            <a
              href="{% url 'add_to_cart' product.uid %}?variant={{ select_size }}"
              class="btn btn-outline-primary"
            >
              <span class="text">Add to cart</span>
              <i class="fas fa-shopping-cart"></i>
            </a>
          </article>

        </main>

      </div>

    </div>
    
    <!-- ============================ COMPONENT Product Details End ================================= -->
  </div>
</section>

<script>
  function get_correct_price(size) {
    window.location.href = window.location.pathname + `?size=${size}`;
  }
</script>

{% endblock %}
