{% extends "base/base.html" %}
{% block title %}Your Wishlist{% endblock %}
{% block start %} {% load static %}

<section class="section-content padding-y">
  <div class="container">
    {% include 'base/alert.html' %}
    <div class="row">
      <main class="col-md-12">
        {% if wishlist_items %} 
        {% for item in wishlist_items %}
        <div class="card mb-3 card-body">
          <table class="table table-borderless table-shopping-cart" style="margin-bottom: 0;">
            <thead class="text-muted">
                <tr class="small text-capitalize">
                  <th scope="col">Product</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>
                  <figure class="itemside">
                    <div class="aside">
                      <img src="/media/{{ item.product.product_images.first.image }}" class="img-sm"/>
                    </div>
                    <figcaption class="info">
                      <a href="{% url 'get_product' item.product.slug %}" class="title text-dark">
                        {{ item.product.product_name }}
                      </a>

                      <p class="text-muted small">
                        {% if item.size_variant %} 
                            Size: {{ item.size_variant.size_name }}<br />
                        {% else %} Size : N/A <br />
                        {% endif %} 
                        {% if item.product.color_variant.exists %}
                            {% for color in item.product.color_variant.all %} 
                              Color: {{ color.color_name }}<br />
                            {% endfor %}
                        {% else %} Color: N/A<br />
                        {% endif %} 
                        Brand: Nike
                      </p>
                      <td class="d-flex justify-content-end">
                        <div class="d-sm-flex mr-2">
                          <form class="mb-2 mb-sm-0 mr-0 mr-sm-3" method="POST" action="{% url 'move_to_cart' item.product.uid %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Move to Cart</button>
                          </form>
                          
                          <form method="POST" action="{% url 'remove_from_wishlist' item.product.uid %}?size={{ item.size_variant.size_name }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove</button>
                          </form>
                        </div>
                      </td>
                    </figcaption>
                  </figure>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endfor %} 
        {% else %}
          <div class="mb-3">
            <h4>Your wishlist is empty...</h4>
          </div>
          <a class="btn btn-warning" href="{% url 'index' %}">Back to Home Page</a>
        {% endif %}
      </main>
    </div>
  </div>
</section>

{% endblock %}
